@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --brown-color: #725843;
  --light-brown-color: #9f7f65;
  --dark-gray-color: #60564d;
  --white-brown-color: #ccb4a0;
  --dark-brown-color: #3a2a1d;

  --kendal-charcoal-color: #686662;
  --white-dove-color: #f0ede4;
  --wrought-iron-color: #323333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--kendal-charcoal-color);
  background: var(--white-dove-color);
  font-family: "Karla", sans-serif;
  width: 100%;
}
/* Styles for the preloader container */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--wrought-iron-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.preloader.fade-out {
  opacity: 0;
  transition: 1s ease-out;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up 1s ease-out;
}

.distorted-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
  animation: distort 2s forwards;
}

@keyframes distort {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

.text {
  color: white;
  font-size: 24px;
}

[data-aos="fade-up"] {
  opacity: 0;
  transform: translateY(20px);
  transition-property: opacity, transform;
  transition-duration: 0.6s;
}

/* .loader {
  margin-bottom: 16px;
  border: 8px solid var(--kendal-charcoal-color);
  border-top: 8px solid var(--white-dove-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.text {
  font-size: 36px;
  color: var(--white-dove-color);
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.content {
  display: none;
}

/* HEADER */

nav {
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 999;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}
.logo {
  padding: 1rem;
  font-size: 14px;
}
.nav-links {
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.nav-links li {
  padding: 0.6rem;
}
.nav-links a {
  text-decoration: none;
  font-size: 80px;
  color: var(--white-dove-color);
  font-weight: 600;
}
.social-links {
  justify-content: flex-start;
  display: flex;
  height: 100%;
}
.social-links a {
  text-decoration: none;
  color: var(--white-dove-color);
  font-size: 16px;
  padding: 0 0.6rem;
}
.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  z-index: 2000;
  transition: right 1s ease;
  right: 1.5rem;
  cursor: pointer;
  border: 0.5px solid var(--kendal-charcoal-color);
  background-color: var(--white-dove-color);
}

.burger:before,
.burger:after {
  content: "";
  position: absolute;
  background-color: var(--kendal-charcoal-color);
  width: 70%;
  height: 4px;
  border-radius: 2px;
  transition: transform 0.5s ease;
}

.burger:before {
  transform: translateY(-10px);
}

.burger:after {
  transform: translateY(10px);
}
.burger.open {
  background-color: transparent;
}

.burger.open:before,
.burger.open:after {
  position: absolute;
  background-color: var(--white-dove-color);
}

.burger.open:before {
  transform: rotate(45deg);
}

.burger.open:after {
  transform: rotate(-45deg);
}
.burgermenu {
  position: fixed;
  inset: 0 0 0 50%;
  z-index: 1000;
  padding: min(30vh, 7.5rem) 1.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;
  background: var(--kendal-charcoal-color);
  margin-top: -60px;
  gap: 2.5rem;
  backdrop-filter: blur(1rem);
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}
.burgermenu.active {
  transform: translateX(0);
}
.navbar {
  position: fixed;
  inset: 0 0 0 50%;
  z-index: 1000;
  padding: min(30vh, 10rem) 1.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: nowrap;

  background: rgba(0, 0, 0, 0.5);
  margin-top: -60px;
  gap: 2.5rem;
  backdrop-filter: blur(1rem);
  transform: translateX(100%);
  transition: transform 350ms ease-out;
}

.navbar li a {
  font-size: clamp(1.5rem, 10vw, 4rem);
  line-height: 80px;
  font-weight: 600;
}

.navbar li a::after {
  content: "·";
  font-size: 4rem;
  position: absolute;
  right: 0;
  transform: translateX(1.5rem);
  transition: transform 250ms ease-out;
}
.burgermenu.active .nav-links li,
.burgermenu.active .social-links a,
.navbar[data-visible="true"] .nav-links li,
.navbar[data-visible="true"] .social-links a {
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.burgermenu.active .nav-links li:nth-child(1),
.burgermenu.active .social-links a:nth-child(1),
.navbar[data-visible="true"] .nav-links li:nth-child(1),
.navbar[data-visible="true"] .social-links a:nth-child(1) {
  animation: appear 1s forwards;
}

.burgermenu.active .nav-links li:nth-child(2),
.burgermenu.active .social-links a:nth-child(2),
.navbar[data-visible="true"] .nav-links li:nth-child(2),
.navbar[data-visible="true"] .social-links a:nth-child(2) {
  animation: appear 1s forwards 0.1s;
}

.burgermenu.active .nav-links li:nth-child(3),
.burgermenu.active .social-links a:nth-child(3),
.navbar[data-visible="true"] .nav-links li:nth-child(3),
.navbar[data-visible="true"] .social-links a:nth-child(3) {
  animation: appear 1s forwards 0.2s;
}

.burgermenu.active .nav-links li:nth-child(4),
.navbar[data-visible="true"] .nav-links li:nth-child(4) {
  animation: appear 1s forwards 0.3s;
}

/* END OF HEADER */

/* HOMEPAGE */
.maincontent {
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
.main-text-container {
  width: 100%;
}
.main-text {
  padding: 1rem;
  height: 100%;
}
.main-text h1 {
  font-size: 100px;
  font-weight: bold;
}
.main-text span {
  justify-content: left;
  align-items: left;
}
.circle-gradient-main {
  background-image: linear-gradient(
    to bottom,
    var(--kendal-charcoal-color),
    var(--white-dove-color)
  );
  background-position: center;

  opacity: 25%;
  border-radius: 100%;

  z-index: -1;

  position: absolute;
  background-attachment: fixed;
  top: 0;
}

.main-circle-lg {
  width: 33rem;
  height: 33rem;
}

.main-circle-xl {
  width: 40rem;
  height: 40rem;
}

.main-circle-2xl {
  width: 45rem;
  height: 45rem;
}
/* ABOUT */
.about {
  background-color: var(--wrought-iron-color);
  color: var(--white-dove-color);

  height: 100vh;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.about-title {
  padding: 1rem;
  border-bottom: 1px solid var(--white-dove-color);
  text-align: center;
  height: 100%;
  width: 100%;
}
.about-title h1 {
  font-size: 5rem;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  justify-content: center;
  align-items: center;

  height: 100%;
}
.about-image {
  object-fit: cover;
}
.about-image img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 50%;
}
.circle-gradient-about {
  background-image: linear-gradient(
    to bottom,
    var(--kendal-charcoal-color),
    var(--white-dove-color)
  );
  background-position: center;

  opacity: 10%;
  border-radius: 100%;

  z-index: -1;

  position: absolute;
  background-attachment: fixed;
  top: 0;
}

.about-circle-lg {
  width: 16rem;
  height: 16rem;
}

.about-circle-xl {
  width: 16rem;
  height: 16rem;
  right: 10%;
  top: 50%;
}

.about-circle-2xl {
  width: 26rem;
  height: 26rem;
  left: 12.5%;
}
.about-text {
  color: var(--white-dove-color);
  padding: 1rem;
  line-height: 1.5;
}
.about-text h1 {
  font-size: 2rem;
}
.about-text span {
  font-size: 1.5rem;
}

/* SERVICES OFF */
.services {
  height: 100%;
  background: var(--wrought-iron-color);
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  justify-content: center;

  align-items: center;
}
.services-title {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}

.services-title h1 {
  color: var(--white-dove-color);
  font-size: 4rem;
}
.services-quotes {
  color: var(--white-dove-color);
  padding: 2rem;
}
.box .services-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  z-index: 10;

  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--white-dove-color);
}
.box .services-number {
  border-right: 1px solid var(--white-dove-color);
}
.box .services-number h1 {
  font-size: 10rem;
}
.box .services-text {
  padding: 2rem;
}
.box .services-text span {
  line-height: 1.1;
  font-size: 24px;
}
.box {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  background-color: var(--wrought-iron-color);
}
.italic-text {
  font-family: "Dancing Script", cursive;
}
#box1 {
  z-index: 1;
  border-top: 1px solid var(--white-dove-color);
}
#box1 h2 {
  padding: 20px;
  color: var(--white-dove-color);
  font-size: 40px;
  border-bottom: 1px solid var(--white-dove-color);
}
#box2 {
  border-top: 1px solid var(--white-dove-color);
  transform: translateY(100%);
  z-index: 2;
  top: 15%;
}
#box2 h2 {
  padding: 20px;
  color: var(--white-dove-color);
  font-size: 40px;
  border-bottom: 1px solid var(--white-dove-color);
}
#box3 {
  border-top: 1px solid var(--white-dove-color);
  transform: translateY(200%);
  z-index: 3;
  top: 20%;
}
#box3 h2 {
  padding: 20px;
  color: var(--white-dove-color);
  font-size: 40px;
  border-bottom: 1px solid var(--white-dove-color);
}

/* PROJECTS */

.projects {
  height: 100%;
  padding: 2rem;
}
.projects-title {
  text-align: center;
  padding: 2rem;
}
.projects-title h1 {
  font-size: 5rem;
}
.project-content {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  gap: 10px;

  position: relative;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--kendal-charcoal-color);
}
.project-image {
  width: 75%;
  height: 100%;
  object-fit: contain;
}
.project-image img {
  width: 100%;
  height: 100%;
  position: relative;
}

.project-desc-title {
  padding: 0.7rem 0;
}
.project-desc span {
  font-weight: 700;
  background: var(--kendal-charcoal-color);
  color: var(--white-dove-color);
  border-radius: 30px;
  padding: 0.6rem;
}
.projects-gallery {
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.projects-gallery-title {
  text-align: center;
}
.projects-gallery-title h1 {
  font-size: 5rem;
}
.projects-gallery-images {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;

  padding: 1.5rem 0;
  gap: 20px;
  width: 35%;
  left: -20%;
  height: 100%;
  object-fit: contain;
  position: relative;
}
.projects-gallery-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .projects-gallery {
  width: 120vw;
  left: -10vw;
  will-change: transform;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.projects-gallery-container {
  margin: 0 auto;
  max-width: 100em;
}
.projects-gallery-title {
  text-align: center;
}
.projects-gallery-title h1 {
  font-size: 5rem;
}
.projects-gallery-images {
    width: 25%;
    padding: 1.25vw;
}
.elements-images {
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images/wvsu-web.png');
} */
/* CSS PREDEFINED CLASS START */

.max-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.padding-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.circle-gradient {
  background-image: linear-gradient(to bottom, #b43939, #faf6f9);
  background-position: center;

  opacity: 10%;
  border-radius: 100%;

  z-index: -1;

  position: absolute;
  top: 0;
}

.circle-lg {
  width: 33rem;
  height: 33rem;
}

.circle-xl {
  width: 40rem;
  height: 40rem;
}

.circle-2xl {
  width: 45rem;
  height: 45rem;
}

/* CSS PREDEFINED CLASS END */

footer {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 3rem;

  position: relative;
  overflow: hidden;
}

.footer-head-text {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 4rem;
}

.footer-head-text p {
  color: #545454;
  font-size: 1.1rem;
  font-weight: 600;
}

.footer-head-text a {
  width: 100%;

  color: #0e0506;
  text-shadow: 8px 6px 0 rgba(0, 0, 0, 0.3);

  font-size: 10rem;
  font-weight: 700;
  line-height: 1;

  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;

  position: relative;
}

.footer-head-text a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 7px;
  background-color: #0e0506;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.footer-head-text a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.footer-links {
  width: 100%;

  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 2rem;
}

.footer-links .f-links {
  font-size: 1rem;

  display: flex;
  align-items: start;
  flex-direction: column;
  flex: 1 1 0%;

  gap: 8px;
}

.f-links h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.f-links a {
  text-decoration: underline;
  color: #2e2e2e;
  white-space: pre-line;
}

.f-links hr {
  width: 100%;
}

.footer-bottom-links {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 1;

  gap: 10px;
  padding-bottom: 2rem;
}

.f-bottom-hr {
  width: 100%;
}

.f-bottom-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.9rem;
}

.f-bottom-links div {
  display: flex;
  gap: 2rem;
}

.f-bottom-links div a {
  text-decoration: none;
  color: #2e2e2e;
}

.f-bottom-links div p {
  color: #2e2e2e;
}

/* HOVER */

.view-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 70px;
  font-size: 20px;
  padding: 10px;
  background-color: var(--kendal-charcoal-color);
  color: var(--white-dove-color);
  border-radius: 100%;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  justify-content: center;
  transition: opacity 0.3s, transform 0.3s;
}

.project-content:hover .view-more,
.project-content:hover {
  opacity: 1;
  cursor: pointer;
}

.magnet-effect {
  position: absolute;
  width: 10px; /* Adjust size of magnet */
  height: 10px; /* Adjust size of magnet */
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

.burger:hover .magnet-effect {
  opacity: 1;
}
.burger:hover .burger-line {
  transform: translateX(3px);
}
.burger-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--kendal-charcoal-color);
  transition: transform 0.3s;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .padding-container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 1536px) {
  .padding-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 768px) {
  .main-circle-2xl {
    width: 35rem;
    height: 35rem;
  }
  .about {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .about-content {
    font-size: 16px;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about-text {
    text-align: center;
  }

  .project-desc {
    flex-wrap: wrap;
    font-size: 12px;
    display: flex;
  }
  .services {
    height: 100%;
  }
  
  .services-content {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-head-text a {
    flex-wrap: wrap;
    display: flex;
    font-size: 100px;
  }
  .footer-head-text {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .burger {
    right: 1.5rem;
  }
}
@media (max-width: 680px) {
  body {
    width: 100vw;
  }
  .main-text h1{
    font-size: 56px;
  }
  .main-circle-2xl {
    width: 25rem;
    height: 25rem;
  }
  .circle-gradient-main {
 
    background-position: center;
  
    position: absolute;
    background-attachment: fixed;
    top: 25%;
  }
  .burgermenu {
    inset: 0 0 0 0;
  }
  .burgermenu.active {
    transform: translateX(0);
  }
  .about {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .about-content {
    font-size: 16px;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about-text {
    text-align: center;
  }
 
  .services {
    height: 100%;
    background: var(--wrought-iron-color);
  }
  .services-container {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
  
    align-items: center;
    padding: 2rem;
  }
  .services-quotes {
    justify-content: center;
    text-align: center;
  }
  .box .services-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  
  }
  .box .services-number {
    border-right: 1px solid var(--white-dove-color);
  }
  .box .services-number h1 {
    font-size: 6rem;
  }
  .box .services-text {
    padding: 2rem;
  }
  .box .services-text span {
    line-height: 1.1;
    font-size: 16px;
  }
  .footer-head-text a {
    flex-wrap: wrap;
    display: flex;
    font-size: 90px;
  }
  .footer-head-text {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer-bottom-links {
    flex-wrap: wrap;
  }
  .f-bottom-links a{
    font-size: 16px;
  
  }
  .project-desc {
    flex-wrap: wrap;
    font-size: 12px;
    display: flex;
  }
  .burger {
    right: 0.5rem;
  }
  .burgermenu {
    overflow: hidden;
    padding: 0;
    margin: 0;
    gap: 0;
  }
}
@media (max-width: 500px) {
  .maincontent {
    height: 100vh;
  }
  .main-text {
    flex-wrap: wrap;
    display: flex;
  }
  .main-text h1 {
    font-size: 56px;
  }
  .circle-gradient-main {
 
    background-position: center;
  
    position: absolute;
    background-attachment: fixed;
    top: 25%;
  }
  .circle-gradient-about {
 
    background-position: center;
  
    position: absolute;
    background-attachment: fixed;
    top: 25%;
  }
  .about-circle-2xl {
    width: 20rem;
    height: 20rem;
  }
  .about-circle-xl {
    width: 10rem;
    height: 10rem;
  }
  .about-circle-lg {
    width: 10rem;
    height: 10rem;
  }
  .burger {
    right: 1.5rem;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .project-image {
    object-fit: contain;
  }
  .project-desc {
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .footer-head-text a {
    flex-wrap: wrap;
    display: flex;
    font-size: 70px;
  }
  .footer-head-text {
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .footer-bottom-links {
    flex-wrap: wrap;
  }
  .f-bottom-links a{
    font-size: 16px;
  
  }
}
